@import "../../css/SiteTheme.less";

:root {
  --lh: 1.3em;
}

.welcome {  
  background-color: #000;
  background: 
    url('../../images/lockBackground-black.png');
  background-size: cover;
  background-position: center;
  font-family: @brand-font;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.welcome-wrapper {
  width: @content-width;
  margin-left: auto;
  margin-right: auto;
}


.welcome-content {
  display: flex;
  justify-content: space-between;
  width: @content-width;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-left {
  color: @almost-white;
  width: 472px;
}

.welcome-left .welcome-main-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 41px;
}

.welcome-right  {
  box-sizing: border-box;
  position: relative;
  width: 384px;
  height: 328px;
  border-radius: 2px;
  border: 1px solid @brand-primary-color;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  padding: 34px 32px 33px 33px;
  flex-grow: 0;
}

.welcome-right-title {
  margin: 0;
  margin-bottom: 16px;
  color: @almost-black;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  font-family: @brand-font;
}

.welcome-right-list {
  color: @almost-black;    
  line-height: 17px;
}

.welcome-right-list-item {
  display: flex;
  opacity: 0;
  align-items: center;
  margin-bottom: 16px;
  transition: 2s ease;
}

.welcome-right-list-item-text {
  margin-left: 12px;
  font-size: 14px;
}

.welcome-right-list-item-number {
  background-color: @bright-blue;
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  flex-shrink: 0;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
}

.welcome-info-para {
  color: @almost-white;
  font-size: 14px;
  font-family: @brand-font;
  font-weight: 300;
}

.welcome-right-secondary-header {
  margin: 24px 0 14px;
  color: @almost-black;
  font-size: 14px;
  font-weight: bold;
}

.welcome-secondary-header {
  margin: 14px 0 4px 0;
  font-size: 16px;
}

.welcome-external-link {
  text-decoration: underline;
}

.welcome-right-bottom {
  opacity: 0;
  transition: .5s ease-in;
}

.welcome-right-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

@media screen and (max-width: 350px) {
  .welcome-right {
    height: auto;
  }
}

@media screen and (max-width: 915px) {
  .welcome {
    padding: 20px;
  }

  .welcome-wrapper {
    width: 100%;
  }

  .welcome-content {
    flex-wrap: wrap;
    width: 100%;
  }

  .welcome-left {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-right {
    width: 100%;
    max-width: 384px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
