@import "../../css/SiteTheme.less";

.topnav {
    height: 40px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.topnav-content {
    padding: 8px 0px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navLogo {
    width: 100px;
    margin-left: 20px;

    img {
        width: 100%;
    }

    &.mainLogo {
        margin-right: auto;
        margin-left: 0;
    }
}

@media screen and (max-width: 950px) {
    .topnav-content {
        padding: 8px 15px;
    }
}

.topnav-shadow {
  z-index: 99;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}
