@import '../../css/SiteTheme.less';

// overview section
.overview-header {
  height: 276px;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background: url('../../images/illustration-background.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-image {
  height: 189px;
  width: 100%;
  text-align: center;
  margin: 24px 0;
}

.overview-image img {
  height: 100%;
}

.overview-body {
  width: 90%;
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

.overview-heading {
  font-size: 20px;
  color: @almost-black;
  font-weight: bold;
  margin: 0 0 16px 0;
}

.overview-content {
  margin-bottom: 32px;
  font-size: 14px;
  color: #000;
  display: flex;
}

.overview-content > *:first-child {
  margin-right: 25px;
}