{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [ 
    "transform-class-properties", 
    "transform-object-assign",
    [
      "babel-plugin-root-import",  
      { "rootPathPrefix": "~", "rootPathSuffix" : "src" }
    ] 
  ]
}